<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title">Reseptit</h1>
    <div class="account-wall">
      <%= link_to 'Luo uusi resepti', new_meal_path, class:"submit-button" if current_user %><br><br>
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-md-2">Nimi</th>
          <th class="col-md-2">Julkinen</th>
        </tr>
        </thead>

        <tbody>
        <% @meals.each do |meal| %>
            <tr>
              <td><%= link_to meal.name, meal_path(meal) %></td>
              <td><%= meal.private %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
