<p>
  <strong>Nimi:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Kuvaus:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Julkinen:</strong>
  <%= @meal.private %>
</p>

<%= link_to 'Muokkaa', edit_meal_path(@meal) %>
