<p>Hei <%= @resource.email %>!</p>

<p>Olemme saaneet pyynnön vaihtaa sinun salasanasi. Voit tehdä sen alla olevan linkin kautta.</p>

<p><%= link_to 'Vaihda salasanani', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jos sinä et tehnyt tätä pyyntöä, niin älä huomioi tätä viestiä.</p>
<p>Salasanasi ei vaihdu ellet sinä luo uutta yllä olevan linkin kautta.</p>
