<p>Hei <%= @resource.email %>!</p>

<p>Tilisi on lukittu liian monen epäonnistuneen kirjautumisyrityksen vuoksi.</p>

<p>Voit avata tilisi uudelleen alla olevan linkin kautta:</p>

<p><%= link_to 'Avaa tilini lukitus', unlock_url(@resource, unlock_token: @token) %></p>
